asgiref==3.9.1
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==45.0.7
Django==5.2.6
django-cors-headers==4.3.1
pdfminer.six==20221105
pdfplumber==0.10.3
pillow==11.3.0
pycparser==2.23
PyPDF2==3.0.1
pypdfium2==4.30.0
sqlparse==0.5.3
typing_extensions==4.15.0
